[tool.poetry]
name = "nonebot-plugin-tetris-stats"
version = "0.3.0"
description = "一个基于nonebot2的用于查询TETRIS相关游戏玩家数据的插件"
authors = ["scdhh <wallfjjd@gmail.com>"]
readme = "README.md"
homepage = "https://github.com/shoucandanghehe/nonebot-plugin-tetris-stats"
repository = "https://github.com/shoucandanghehe/nonebot-plugin-tetris-stats"
license = "MIT"

[tool.poetry.dependencies]
python = "^3.10,<3.11"
nonebot-adapter-onebot = "^2.0.0-beta.1"
aiohttp = "^3.8.1"
asyncio = "^3.4.3"
nonebot2 = "^2.0.0-beta.3"
lxml = "^4.9.1"
pandas = "^1.4.3"
playwright = "^1.24.1"
ujson = "^5.4.0"

[tool.poetry.dev-dependencies]
mypy = "^0.971"
autopep8 = "^1.6.0"
pylint = "^2.14.5"
types-ujson = "^5.4.0"
lxml-stubs = "^0.4.0"
pandas-stubs = "^1.4.3"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
