<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="./css/bind.css" rel="stylesheet" />
    </head>

    <body>
        <div class="background">
            <div class="main-content">
                <div class="bind-subject">
                    <div class="bind-icons">
                        <img
                            class="user-avatar"
                            src="./static/header-img.jpg"
                        />
                        <img class="state" src="./static/bind/success.svg" />
                        <img
                            class="state"
                            src="./static/bind/error.svg"
                            style="display: none"
                        />
                        <img
                            class="state"
                            src="./static/bind/unlink.svg"
                            style="display: none"
                        />
                        <img
                            class="state"
                            src="./static/bind/unverified.svg"
                            style="display: none"
                        />
                        <img class="logo" src="./static/logo/logo.svg" />
                    </div>
                    <div class="command-result">
                        已将你在
                        <p
                            style="
                                display: inline;
                                font-weight: 800;
                                line-height: 31px;
                            "
                        >
                            TETR.IO
                        </p>
                        上的账号
                        <br />
                        <p
                            style="
                                display: inline;
                                font-weight: 800;
                                line-height: 31px;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                            "
                        >
                            SCDHH
                        </p>
                        <br />
                        成功验证并绑定至
                        <p
                            style="
                                display: inline;
                                font-weight: 400;
                                line-height: 31px;
                            "
                        >
                            NoneBot.
                        </p>
                    </div>
                </div>
                <div class="extra-info">
                    你可以输入 “[command]” 命令来查找你在该平台上的统计数据.
                </div>
            </div>
        </div>
    </body>
</html>
