<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link href="./css/data.css" rel="stylesheet" />
    </head>

    <body>
        <div class="main-content">
            <div class="title">Account&Rankings</div>
            <div class="user-information">
                <div class="header-img"></div>
                <div class="username">C1ystal</div>
            </div>

            <div class="game-type">
                <div class="game-logo"></div>
                <div class="game-name">TETR.IO</div>
            </div>

            <div class="rankings">
                <div class="rankings-title">Rankings</div>
                <div class="rankings-value">
                    <!-- ↓此处填写数据 -->
                    <div class="data-input" style="display: none">2429.58</div>
                    <span class="rankings-data-int"></span>
                    <span
                        class="rankings-data-float"
                        style="font-size: 30px; height: 60px; line-height: 72px"
                    ></span>
                    <span
                        style="font-size: 20px; height: 60px; line-height: 78px"
                        >±62.29</span
                    >
                </div>
            </div>

            <div class="rating-table">
                <div class="table-title">Tetra Rating (TR)</div>
                <div class="rank-icon">
                    <object
                        width="50"
                        height="50"
                        data="./static/rank/U.svg"
                        type="image/svg+xml"
                    ></object>
                </div>
                <div class="rating-value">
                    <div class="rating-input" style="display: none">
                        24,165.82
                    </div>
                    <span class="rating-int"></span>
                    <span
                        class="rating-float"
                        style="font-size: 30px; height: 60px; line-height: 69px"
                    ></span>
                    <span
                        style="
                            font-weight: normal;
                            font-size: 30px;
                            height: 60px;
                            line-height: 69px;
                        "
                        >(#743)
                    </span>
                </div>
                <div class="line-table" id="line-table"></div>
            </div>

            <div class="multiplayer-title">Multiplayer Stats</div>

            <div class="lpm-table">
                <div class="lpm-background">
                    <object
                        data="./static/data/LPM.svg"
                        type="image/svg+xml"
                    ></object>
                </div>
                <div class="lpm-value">
                    <div class="lpm-value-input" style="display: none">
                        48.72
                    </div>
                    <span class="lpm-value-int"></span>
                    <span
                        class="lpm-value-float"
                        style="
                            font-size: 30px;
                            height: 28px;
                            line-height: 37.2px;
                        "
                    ></span>
                </div>
                <span class="pps-value"> 2.03 pps </span>
            </div>

            <div class="apm-table">
                <div class="apm-background">
                    <object
                        data="./static/data/APM.svg"
                        type="image/svg+xml"
                    ></object>
                </div>
                <div class="apm-value">
                    <div class="apm-value-input" style="display: none">
                        76.87
                    </div>
                    <span class="apm-value-int"></span>
                    <span
                        class="apm-value-float"
                        style="
                            font-size: 30px;
                            height: 28px;
                            line-height: 37.2px;
                        "
                    ></span>
                </div>
                <span class="apl-value"> x1.58 </span>
            </div>

            <div class="adpm-table">
                <div class="adpm-background">
                    <object
                        data="./static/data/ADPM.svg"
                        type="image/svg+xml"
                    ></object>
                </div>
                <div class="adpm-value">
                    <div class="adpm-value-input" style="display: none">
                        102.31
                    </div>
                    <span class="adpm-value-int"></span>
                    <span
                        class="adpm-value-float"
                        style="
                            font-size: 30px;
                            height: 28px;
                            line-height: 37.2px;
                        "
                    ></span>
                </div>
                <span class="adpl-value"> x2.1 </span>
                <span class="vs-value"> 170.51 vs </span>
            </div>

            <div class="radar-map" id="radar-map"></div>

            <div class="singleplayer-title">Singleplayer Stats</div>

            <div class="sprint-table">
                <object
                    data="./static/data/40L.svg"
                    type="image/svg+xml"
                ></object>
                <div class="sprint-value">
                    <div class="sprint-value-input" style="display: none">
                        34.77 s
                    </div>
                    <span class="sprint-value-int"></span>
                    <span
                        class="sprint-value-float"
                        style="
                            font-size: 30px;
                            height: 28px;
                            line-height: 37.2px;
                        "
                    ></span>
                    <span
                        class="sprint-value-str"
                        style="
                            font-size: 60px;
                            height: 46px;
                            line-height: 37.2px;
                        "
                    ></span>
                </div>
            </div>

            <div class="blitz-table">
                <object
                    data="./static/data/Blitz.svg"
                    type="image/svg+xml"
                ></object>
                <span class="blitz-value"> 289,085 </span>
            </div>
        </div>
    </body>

    <script src="./js/echarts.js"></script>

    <script>
        // rankings数据处理
        let ranking_data = document
            .getElementsByClassName('data-input')[0]
            .innerText.trim();
        ranking_data = ranking_data.split('.');
        document.querySelector('.rankings-data-int').innerText =
            ranking_data[0] + '.';
        document.querySelector('.rankings-data-float').innerText =
            ranking_data[1];
    </script>

    <script>
        // rating数据处理
        let rating_data = document
            .getElementsByClassName('rating-input')[0]
            .innerText.trim();
        rating_data = rating_data.split('.');
        document.querySelector('.rating-int').innerText = rating_data[0] + '.';
        document.querySelector('.rating-float').innerText = rating_data[1];
    </script>

    <script>
        // lpm数据处理
        let lpm_data = document
            .getElementsByClassName('lpm-value-input')[0]
            .innerText.trim();
        lpm_data = lpm_data.split('.');
        document.querySelector('.lpm-value-int').innerText = lpm_data[0] + '.';
        document.querySelector('.lpm-value-float').innerText = lpm_data[1];
    </script>

    <script>
        // apm数据处理
        let apm_data = document
            .getElementsByClassName('apm-value-input')[0]
            .innerText.trim();
        apm_data = apm_data.split('.');
        document.querySelector('.apm-value-int').innerText = apm_data[0] + '.';
        document.querySelector('.apm-value-float').innerText = apm_data[1];
    </script>

    <script>
        // adpm数据处理
        let adpm_data = document
            .getElementsByClassName('adpm-value-input')[0]
            .innerText.trim();
        adpm_data = adpm_data.split('.');
        document.querySelector('.adpm-value-int').innerText =
            adpm_data[0] + '.';
        document.querySelector('.adpm-value-float').innerText = adpm_data[1];
    </script>

    <script>
        // sprint数据处理
        let sprint_data = document
            .getElementsByClassName('sprint-value-input')[0]
            .innerText.trim();
        sprint_data = sprint_data.split(/[\s.]+/);
        document.querySelector('.sprint-value-int').innerText =
            sprint_data[0] + '.';
        document.querySelector('.sprint-value-float').innerText =
            sprint_data[1];
        document.querySelector('.sprint-value-str').innerText = sprint_data[2];
    </script>

    <script>
        // 曲线图绘制
        var lineChartDom = document.getElementById('line-table');
        var lineChart = echarts.init(lineChartDom, null, { renderer: 'svg' });
        var option;

        option = {
            grid: {
                left: '-23%',
                bottom: '15%',
                width: '695px',
            },
            xAxis: {
                type: 'category',
                data: ['', '1\nOct', '8\nOct', '15\nOct', '22\nOct', '29\nOct'],
                axisTick: {
                    show: false,
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#FFFFFF',
                    },
                },
                axisLable: {
                    fontWeight: 'bold',
                    fontFamily: 'CabinetGrotesk-Variable',
                    fontSize: 15,
                    align: 'right',
                },
            },

            yAxis: {
                type: 'value',
                position: 'right',
                splitLine: {
                    show: false,
                },
                axisLine: {
                    show: false,
                    lineStyle: {
                        color: '#FFFFFF',
                    },
                },
                axisLable: {
                    fontWeight: 'bold',
                    fontFamily: 'CabinetGrotesk-Variable',
                    fontSize: 15,
                    align: 'center',
                },
                offset: -50,
                max: function (value) {
                    return Math.min(value.max + 100, 25000);
                },
                min: function (value) {
                    return Math.max(value.min - 100, 0);
                },
            },

            series: [
                {
                    data: [24500, 24000, 24500, 24200, 24100, 24165.82],
                    type: 'line',
                    smooth: true,
                    symbol: 'none',
                    color: ['#FAFAFA99'],
                    areaStyle: {
                        color: '#FFFFFF08',
                    },
                },
            ],
        };
        option && lineChart.setOption(option);
    </script>

    <script>
        var radarChartDom = document.getElementById('radar-map');
        var radarChart = echarts.init(radarChartDom, null, { renderer: 'svg' });
        var option;

        option = {
            radar: [
                {
                    indicator: [
                        { text: 'SPM' },
                        { text: 'APM' },
                        { text: 'ADPM' },
                        { text: "D'PM" },
                        { text: 'DPM' },
                        { text: "L'PM" },
                    ],
                    center: ['50%', '50%'],
                    radius: '65%',
                    startAngle: 90,
                    splitNumber: 4,
                    shape: 'circle',
                    axisName: {
                        color: '#FAFAFA',
                    },
                    splitArea: {
                        show: false,
                    },
                    axisLine: {
                        lineStyle: {
                            color: 'rgba(250, 250, 250, 0.3)',
                        },
                    },
                    splitLine: {
                        lineStyle: {
                            color: 'rgba(250, 250, 250, 0.3)',
                        },
                    },
                },
            ],
            series: [
                {
                    type: 'radar',
                    symbol: 'none',
                    emphasis: {
                        disabled: true,
                    },
                    lineStyle: {
                        color: 'rgba(250, 250, 250, 1)',
                        shadowBlur: 12,
                        shadowColor: 'rgba(250, 250, 250, 1.5)',
                    },
                    areaStyle: {
                        color: 'rgba(250, 250, 250, 0.45)',
                    },
                    data: [
                        {
                            value: [100, 8, 100, 80, 2000, 100],
                            name: 'Data A',
                        },
                    ],
                },
            ],
        };
        option && radarChart.setOption(option);
    </script>
</html>
