name: TypeCheck

on:
  push:

jobs:
  TypeCheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6
        name: Setup UV
        with:
          enable-cache: true

      - name: 'Set up Python'
        uses: actions/setup-python@v5
        with:
          python-version-file: '.python-version'

      - run: uv sync
        shell: bash

      - name: Run Mypy
        shell: bash
        run: |
          uv run mypy ./nonebot_plugin_tetris_stats

      - name: Run BasedPyright
        shell: bash
        run: |
          uv run basedpyright ./nonebot_plugin_tetris_stats/
